.blog-info {
  padding: 100px 0;
}

.blog-info__inner {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.navbar {
  max-width: 295px;
  width: 100%;
}
.navbar__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navbar__item {
  font-size: 18px;
  font-weight: 400;
}

.navbar__item-title {
  position: relative;
  padding-right: 21px;
}

.navbar__item-title.arrow::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-size: 12px 6px;
  background-position: center;
  width: 12px;
  height: 6px;
}

.navbar__item-title.border-bottom {
  padding-right: 0;
  border-bottom: 1px solid #000; 
}

.navbar__item-list {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-left: 10px;
}

.navbar__item-list.active {
  display: flex;
}

.navbar__item-el {
  opacity: 0.8;
  transition: all 0.2s ease;
}

.navbar__item-el:hover {
  opacity: 1;
}

.blog-info__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-info__item {
  display: flex;
  align-items: center;
}

.blog-info__item:nth-child(even) {
  flex-direction: row-reverse;
}

.blog-info__item:nth-child(even) .blog-info__block {
  text-align: right;
  margin-left: 0;
  margin-right: -180px;
}

.blog-info__img {
  max-width: 480px;
  width: 100%;
  max-height: 350px;
}
.blog-info__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 90px;
  background-color: #FBFBFB;
  border-radius: 12px;
  max-width: 800px;
  min-height: 305px;
  width: 100%;
  margin-left: -180px;
}
.blog-info__header {
  display: block;
}
.blog-info__header-text {
  font-size: 14px;
  font-weight: 400;
}

.blog-info__header-text span {
  font-weight: 600;
}
.blog-info__content-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 29px;
}
.blog-info__content-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 16px;
}
.blog-info__block-link {
  font-size: 18px;
  font-weight: 600;
  color:#00087C;
}

@media(max-width: 1130px) {
  .blog-info__inner {
    flex-direction: column;
  }
}

@media(max-width: 810px) {
  .blog-info {
    padding-top: 0;
  }

  .blog-info__img {
    display: none;
  }

  .blog-info__item:nth-child(even) {
    text-align: left;
    flex-direction: unset;
  }
  .blog-info__item:nth-child(even) .blog-info__block {
    text-align: left;
  }

  .blog-info__block {
    margin: 0;
    text-align: left;
  }
}

@media(max-width: 615px) {
  .blog-info__block {
    padding: 30px;
  }

  .blog-info__content-title {
    font-size: 18px;
    line-height: 19px;
  }
}