.expectation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.expectation__title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.01em;
  margin: 0;
  margin-top: 12px;
  text-align: center;
  max-width: 250px;
}

.expectation__text {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 13px;
  margin-top: 12px;
  letter-spacing: -0.01em;
}

@media (min-width: 500px) {
  .expectation__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.01em;
    margin: 0;
    margin-top: 28px;
    max-width: 100%;
  }

  .expectation__text {
    font-size: 28px;
    line-height: 26px;
    letter-spacing: -0.01em;
    margin: 0;
    margin-top: 19px;
  }
}
