@keyframes ldio-0gcitv8p93go {
  0% { 
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingio-spinner-spinner-yd7a1dwr34 {
  width: 27px;
    height: 28px;
  
}
.ldio-0gcitv8p93go div {
  left: 43%;
    top: 0;
    position: absolute;
    animation: ldio-0gcitv8p93go linear 1s infinite;
    width: 3px;
    height: 9px;
    border-radius: 6px / 6px;
    transform-origin: 2px 16px;
}.ldio-0gcitv8p93go div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #0049FF;
}.ldio-0gcitv8p93go div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.8333333333333334s;
  background: #0049FF;
}.ldio-0gcitv8p93go div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.75s;
  background: #0049FF;
}.ldio-0gcitv8p93go div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.6666666666666666s;
  background: #0049FF;
}.ldio-0gcitv8p93go div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.5833333333333334s;
  background: #0049FF;
}.ldio-0gcitv8p93go div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.5s;
  background: #0049FF;
}.ldio-0gcitv8p93go div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.4166666666666667s;
  background: #0049FF;
}.ldio-0gcitv8p93go div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: -0.3333333333333333s;
  background: #0049FF;
}
.loadingio-spinner-spinner-nsmdzcydbgj {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-0gcitv8p93go {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-0gcitv8p93go div { box-sizing: content-box; } 

@media(min-width: 500px) {
  .loadingio-spinner-spinner-yd7a1dwr34 {
    width: 60px;
  height: 60px;
  }

  .ldio-0gcitv8p93go div {
    left: 43%;
    top: 0;
    position: absolute;
    animation: ldio-0gcitv8p93go linear 1s infinite;
    width: 9px;
    height: 17px;
    border-radius: 6px / 6px;
    transform-origin: 5px 30px;
}
}