.banner {
  padding-bottom: 35px;
}

.banner__inner {
  display: flex;
  flex-direction: column;
}

.banner__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.banner__header-text {
  font-size: 18px;
  font-weight: 600;
  color: #0049FF;
}

.banner__header-title {
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}

.banner__header-title span {
  font-weight: 600;
}

.banner__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.banner__form-title {
  font-size: 22px;
  font-weight: 400;
}

.banner__form-value {
  padding: 5px 55px;
  background-color: #FBFBFB;
  box-shadow: 0px 2.4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  max-width: 243px;
  margin: 20px auto 0 auto;
}

.banner__form .input-wrapper {
  margin: 15px auto 0 auto;
  width: 100%;
}

.banner__form-range {
  max-width: 300px;
  width: 100%;
  height: 3px;
}

.range-value-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin: 2px auto 0 auto;
}

.range-value-item {
  font-size: 12px;
  font-weight: 500;
  color: #696464;
}

.banner__form-btn {
  max-width: 220px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin: 10px auto 0 auto;
  padding: 11px 28px;
  background-color: #09D171;
  min-height: 48px;
  border-radius: 6px;
}

.hiring {
  padding: 24px 0 50px;
  background-color: #0049FF;
}

.hiring__inner {
  color: #fff;
}

.hiring__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.hiring__item {
  max-width: 270px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 18px;
  background-color: #195BFE;
  box-shadow: 0px 3.0691px 15.3455px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  background-color: #306BFE;
  border-radius: 8px;
}

.hiring__item-img {
  width: 46px;
  height: 46px;
}

.hiring__item-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}

.hiring__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  max-width: 245px;
}

.credits {
  padding: 22px 0 40px;
}

.credits__info {
  text-align: center;
}

.credits__img {
  display: block;
  margin: 0 auto;
}

.credits__info-suptitle {
  font-size: 22px;
  font-weight: 400;
  color: #404040;
}

.credits__info-title {
  font-size: 28px;
  font-weight: 700;
  color: #0049FF;
  margin-top: 5px;
}

.credits__info-text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  max-width: 300px;
}

.credits__info-text:first-of-type {
  margin: 10px auto 0;
}

.credits__info-text:last-of-type {
  margin: 20px auto 0;
}

.credits__info-text span {
  font-weight: 700;
}

.credits__info-btn {
  padding: 13px 59px;
  background-color: #0049FF;
  max-width: 280px;
  min-height: 50px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.reasons {
  margin-top: 40px;
}

.reasons__title span {
  font-weight: 600;
}

.reasons__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 270px;
  min-height: 210px;
  padding: 20px 18px;
  box-shadow: 0px 3.06553px 15.3276px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #0049FF;
}

.reasons .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 3.06553px 15.3276px rgba(0, 0, 0, 0.1);
}

.reasons__item-img {
  width: 46px;
  height: 46px;
}

.reasons__item-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.reasons__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 6px;
}

.reviews {
  padding-bottom: 40px;
}

.reviews .swiper {
  margin-top: 25px;
  padding-bottom: 32px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 192px;
  box-shadow: 0px 2.92732px 10.9775px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 11px 30px;
}

.reviews__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__item-img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.reviews__item-rating {
  display: flex;
  align-items: center;
  gap: 7px;
}

.reviews__item-star {
  width: 16px;
  height: 23px;
}

.reviews__item-info {
  display: flex;
  flex-direction: column;
  color: #1A1D27;
}

.reviews__item-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 3px;
}

.reviews__item-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  margin-top: 5px;
}

.reviews__item-text.bottom {
  margin-top: 8px;
}

.reviews .swiper .swiper-pagination {
  bottom: 0;
}

.callback {
  padding: 30px 0;
  background-image: url("../images/callback-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 170px;
}

.callback__inner {
  display: flex;
  flex-direction: column;
}

.callback__title {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}

.callback__title span {
  font-weight: 600;
}

.callback__btn {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  min-height: 40px;
  background-color: #fff;
  color: #0049FF;
  font-size: 18px;
  font-weight: 700;
  padding: 8 58px;
  margin: 15px auto 0 auto;
  border-radius: 6px;
}

.blog {
  padding: 30px 0;
}

.blog .swiper {
  padding-bottom: 32px;
}

.blog__item {
  width: 290px;
  min-height: 320px;
  padding: 25px 25px 11px 25px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__item-img {
  width: 100%;
  height: auto;
}

.blog__item-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

.blog__item-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: auto;
  margin-top: 5px;

}

.blog__item-link {
  font-size: 13px;
  font-weight: 700;
  color: #0049FF;
  text-transform: uppercase;
}

.footer {
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: center;
}

.footer__logo {
  width: 185px;
  height: 35px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
}

.footer__list-item {
  font-size: 22px;
  font-weight: 700;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
}

.footer__links-item {
  font-size: 14px;
  font-weight: 400;
}

.footer__links-link {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.socials__link {
  width: 26px;
  height: 26px;
}

.socials__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}