.ok {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.ok__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.01em;
  margin-top: 28px;
  text-align: center;
}

.ok__text {
  margin-top: 19px;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: center;
}